Checks: >
  *,
  -altera-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-reserved-identifier,
  -cert-*,
  -cppcoreguidelines-*,
  -fuchsia-*,
  -hicpp-*,
  -llvm-*,
  -llvmlibc-*,
  -google-objc-function-naming,
  -misc-const-correctness,
  -misc-no-recursion,
  -misc-non-private-member-variables-in-classes,
  -misc-unused-parameters,
  -modernize-avoid-c-arrays,
  -modernize-deprecated-headers,
  -modernize-use-nodiscard,
  -modernize-use-trailing-return-type,
  -modernize-use-using,
  -performance-no-int-to-ptr,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-implicit-bool-conversion,
  -readability-magic-numbers,

WarningsAsErrors: ''
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
FormatStyle:     none
User:            sockfuzzer
